@import url('https://fonts.googleapis.com/css?family=Parisienne');

/* leaflet */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#root {
    width: inherit;
    height: inherit;
}

.leaflet-container {
    width: 80vw;
    height: 65vh;
}

@media screen and (min-width: 1025px) {
    .leaflet-container {
        height: 70vh;
    }
}


/* Header */

.bodyHeader {
    display: none;
}

@media screen and (min-width: 1025px) {
    .bodyHeader {
        display: block;
    }
}

.navbar {
    height: 7vh;
    z-index: 100 !important;
}

.nav-link {
    background-color: #f8f9fa;
    z-index: 100 !important;
}


/* Footer */

.bodyFooter {
    height: 7vh;
    width: 100vw;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 5;
}

@media screen and (min-width: 1025px) {
    .bodyFooter {
        display: none;
    }
}

.divFooter {
    width: 20%;
    height: 7vh;
    background-color: white;
    display: flex;
    border: solid 1px rgb(17, 143, 201);
}

.linkFooter {
    margin: auto;
}


/* App */

.app {
    height: 93vh;
    background-color: rgb(17, 143, 201);
}

.flex {
    display: flex;
    flex-direction: column;
}

.titleApp {
    color: white;
    align-self: center;
    text-decoration: none;
}

.titleApp:hover {
    text-decoration: none;
    color: white;
}

.part {
    display: flex;
    justify-content: center;
    height: calc(100vh / 3);
}

.partLittoral {
    background-image: url("./img/littoral/etretat/etretat27.jpg");
    background-size: cover;
    background-position: center center;
    transition: transform 0.3s ease-out;
}

.partSeine {
    background-image: url("./img/seine/le_plessis/le_plessis02.jpg");
    background-size: cover;
    background-position: center center;
    transition: transform 0.3s ease-out;
}

.partAutres {
    background-image: url("./img/autres/route.png");
    background-size: cover;
    background-position: center center;
    transition: transform 0.3s ease-out;
}

.part2 {
    margin: auto;
}

@media screen and (min-width: 1025px) {
    .flex {
        flex-direction: row;
    }
    .part {
        height: 100vh;
        width: calc(100vw / 3);
    }
}

.textTitleApp:hover {
    text-decoration: none;
    transform: skew(-40deg);
    transition-duration: 0.5s;
    color: rgb(255, 101, 247);
}


/* Littoral Seine Autres */

.mapLittoral {
    width: 100vw;
    height: 93vh;
    background-color: rgb(17, 143, 201);
    display: flex;
}

.mapSeine {
    width: 100vw;
    height: 93vh;
    background-color: rgb(58, 151, 3);
    display: flex;
}

.mapAutres {
    width: 100vw;
    height: 93vh;
    background-color: rgb(199, 156, 63);
    display: flex;
}

.divMapLittoral {
    margin: auto;
    margin-top: 0;
}

@media screen and (min-width: 1025px) {
    .divMapLittoral {
        margin-top: 0;
    }
}

.titleLittoral {
    font-family: 'Parisienne', cursive, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
    color: white;
    font-size: 3em;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}


/* CarteLittoral CarteSeine CarteAutres */

.linkPlage {
    text-decoration: none;
    display: flex;
}

.lien {
    flex-direction: column;
}

.apercu {
    width: 200px;
}


/* Détail plage du littoral - Détail boucles Seine */

.bodyLittoral {
    min-height: 93vh;
    background-color: rgb(17, 143, 201);
    padding-bottom: 10%;
}

.bodySeine {
    background-color: rgb(58, 151, 3);
    min-height: 93vh;
    padding-bottom: 10%;
}

.bodyAutres {
    background-color: rgb(199, 156, 63);
    min-height: 93vh;
    padding-bottom: 10%;
}

.title {
    font-family: 'Parisienne', cursive, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
    color: white;
    font-size: 2em;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}

@media screen and (min-width: 1025px) {
    .title {
        font-size: 4em;
    }
}

.divPhoto {
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
}

.photo {
    width: 80vw;
    height: 30vh;
}

.photoGrosHorloge {
    width: 80vw;
    height: 60vh;
}

@media screen and (min-width: 640px) and (max-width: 1025px) {
    .photo {
        height: 55vh;
    }
    .photoGrosHorloge {
        width: 50vw;
        height: 60vh;
    }
}

@media screen and (min-width: 1025px) {
    .photo {
        height: 85vh;
    }
    .photoGrosHorloge {
        width: 25vw;
        height: 60vh;
    }
}

.lienSiteOfficiel {
    margin: 0;
    padding-bottom: 5%;
}


/* Contact */

.divContact {
    display: flex;
    height: 93vh;
    background-color: rgb(17, 143, 201);
}

.divContact2 {
    margin: auto;
    color: white;
}


/* Not Found */

.notFound {
    height: 93vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.divNotFound {
    margin: auto;
    color: white;
}

.imgExit {
    width: 100px;
}

.imgDoor {
    width: 100px;
}