@import url('https://fonts.googleapis.com/css?family=Parisienne');

/* Header */

.navbar {
    height: 7vh;
    z-index: 100 !important;
}

.nav-link {
    background-color: #f8f9fa;
    z-index: 100 !important;
}


/* App */

.app {
    height: 93vh;
    background-color: rgb(17, 143, 201);
}

.flex {
    display: flex;
    flex-direction: column;
}

.part {
    height: 31vh;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1000px) {
    .flex {
        flex-direction: row;
    }
    .part {
        height: 93vh;
        width: calc(100vw / 3);
    }
}

.partLittoral {
    position: relative;
    background-image: url("./img/littoral/etretat/etretat27.jpg");
    background-size: cover;
    background-position: center center;
}

.partSeine {
    position: relative;
    background-image: url("./img/seine/le_plessis/le_plessis02.jpg");
    background-size: cover;
    background-position: center center;
}

.partAutres {
    position: relative;
    background-image: url("./img/autres/route.jpg");
    background-size: cover;
    background-position: center center;
}

.titleApp {
    color: white;
    align-self: center;
    text-decoration: none;
}

.titleApp:hover {
    text-decoration: none;
    color: yellow;
}


/* Littoral */

.mapLittoral {
    width: 100vw;
    height: 93vh;
    background-color: rgb(17, 143, 201);
    display: flex;
}

.divMapLittoral {
    margin: auto;
}

@media screen and (min-width: 1000px) {
    .divMapLittoral {
        margin-top: 0;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#root {
    width: inherit;
    height: inherit;
}

.leaflet-container {
    width: 90vw;
    height: 60vh;
}

@media screen and (min-width: 1000px) {
    .leaflet-container {
        height: 70vh;
    }
}


/* CarteLittoral */

.linkPlage {
    text-decoration: none;
    display: flex;
}

.lien {
    flex-direction: column;
}

.apercu {
    width: 200px;
}


/* Détail plage du littoral */

.bodyLittoral {
    min-height: 93vh;
    background-color: rgb(17, 143, 201);
}

.title {
    font-family: 'Parisienne', cursive, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
    color: white;
    font-size: 4em;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}

.divPhoto {
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
}

.photo {
    width: 80vw;
    height: 30vh;
}

@media screen and (min-width: 640px) and (max-width: 1000px) {
    .photo {
        height: 55vh;
    }
}

@media screen and (min-width: 1000px) {
    .photo {
        height: 80vh;
    }
}


/* Contact */

.divContact {
    display: flex;
    height: 93vh;
    background-color: rgb(17, 143, 201);
}

.divContact2 {
    margin: auto;
    color: white;
}